body {
}


div.page {
    display: flex;
    direction: row;
}
div.left {
    width: 200px;
    background-color: #f0f0f0;
    padding: 20px;
}
div.main {
    flex-grow: 1;
    padding: 20px;
}

footer {
    height: 100px;
    width:100%;
    background-color: orange;
}